{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Online Bookshop</title>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/brands.css' %}">
        <link rel="stylesheet" href="{% static 'css/solid.css' %}">
        <link rel="stylesheet" href="{% static 'css/regular.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <script type="text/javascript">
          var user = "{{request.user}}";

            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          const csrftoken = getCookie('csrftoken');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link user-name"
                               data-user="{{ request.user }}"
                               style="display: inline-block;"
                               href="{% url 'profiles:profile' %}">
                                <img class="rounded-circle"
                                     style="width:25px;
                                            margin-right: 2px;"
                                     src="{{ user.profile.profile_pic.url }}">
                                {{ user.username }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profiles:recommendation' %}">Recommendation</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profiles:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profiles:register' %}">Create Account</a>
                        </li>
                    {% endif %}
                    <div class="form-inline my-2 my-lg-0">
                        <a href="{% url 'profiles:cart' %}">
                            <img id="cart-icon" src="{% static 'images/cart.png' %}">
                            <p id="cart-total">{{ cartItems }}</p>
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-item nav-link" href="{% url 'profiles:logout' %}">Logout</a>
                        </li>
                    {% endif %}
                    <form class="form-inline"
                          method="post"
                          action="{% url 'profiles:search' %}">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2"
                               type="text"
                               name="search"
                               placeholder="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <!--JavaScript Files-->
        <script type="text/javascript" src="{% static 'js/popperJS.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/JQuery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/updateCart.js' %}"></script>
        </script>
    </body>
</html>
