{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row d-flex">
        <div class="container  col-md-6">
            <div class="box-element">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group justify-content-center">
                        <legend class="border-bottom mb-4 text-center"
                                style="background-color:#087889;">
                            {{ user.username }} PROFILE
                        </legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group text-center">
                        <button class="btn btn-outline-info btn-block" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
