{% extends "profiles/base.html" %}
{% block content %}
    <div class="container">
        <div class="col-lg box-element">
            <img src="{{ book.product_pic.url }}"
                 class="card-img-top"
                 style="width: 100%;
                        height: 300px;"/>
            <h5 class="card-title">{{ book.product_name }}</h5>
            <h5>
                <strong>&#2547;{{ book.price }}</strong>
            </h5>
            <button data-product="{{ book.id }}"
                    data-action="add"
                    class="btn btn-outline-secondary add-btn update-cart">
                Add to Cart
            </button>
        </div>
    </div>
    <div class="row">
        <div class="container box-element">
            {% for rating in ratings %}
                <h6 class="card-title">{{ rating.user }}</h6>
                <p>{{ rating.rating }}</p>
                <p>{{ rating.review }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
