{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center">
                        <img class="rounded-circle"
                             width="200px;"
                             src="{{ user.profile.profile_pic.url }}">
                    </div>
                    <div class="text-center mt-3">
                        <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                    <div class="d-flex justify-content-center flex-nowrap">
                        <a class="btn btn-secondary mt-4 mb-4"
                           href="{% url 'profiles:update-profile' %}">Edit Profile</a>
                        <a class="btn btn-secondary mt-4 mb-4"
                           href="{% url 'profiles:password-change' %}">Change Password</a>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="text-center mb-4">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <div>
                        <p>Joined in {{ user.date_joined }}</p>
                        <p>Last logged in: {{ user.last_login }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
