{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center">
                        <img class="rounded-circle"
                             width="100"
                             src="{{ user.profile.profile_pic.url }}">
                    </div>
                    <div class="text-center mt-3">
                        <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                    <a class="btn btn-secondary" href="{% url 'profiles:update-profile' %}">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
